@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(44 42.8571% 93.1373%);
  --foreground: hsl(28.5714 16.5354% 24.902%);
  --card: hsl(42 100% 98.0392%);
  --card-foreground: hsl(28.5714 16.5354% 24.902%);
  --popover: hsl(42 100% 98.0392%);
  --popover-foreground: hsl(28.5714 16.5354% 24.902%);
  --primary: hsl(30 33.871% 48.6275%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(40.6452 34.8315% 82.549%);
  --secondary-foreground: hsl(28.9655 18.7097% 30.3922%);
  --muted: hsl(39 34.4828% 88.6275%);
  --muted-foreground: hsl(32.3077 18.4834% 41.3725%);
  --accent: hsl(42.8571 32.8125% 74.902%);
  --accent-foreground: hsl(28.5714 16.5354% 24.902%);
  --destructive: hsl(9.8438 54.7009% 45.8824%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(40 31.4286% 79.4118%);
  --input: hsl(30, 25%, 94%);
  --ring: hsl(30 33.871% 48.6275%);
  --chart-1: hsl(30 33.871% 48.6275%);
  --chart-2: hsl(31.3846 29.9539% 42.549%);
  --chart-3: hsl(33.6842 32.948% 33.9216%);
  --chart-4: hsl(29.1176 30.9091% 56.8627%);
  --chart-5: hsl(30 33.6842% 62.7451%);
  --sidebar: hsl(39 34.4828% 88.6275%);
  --sidebar-foreground: hsl(28.5714 16.5354% 24.902%);
  --sidebar-primary: hsl(30 33.871% 48.6275%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(42.8571 32.8125% 74.902%);
  --sidebar-accent-foreground: hsl(28.5714 16.5354% 24.902%);
  --sidebar-border: hsl(40 31.4286% 79.4118%);
  --sidebar-ring: hsl(30 33.871% 48.6275%);
  --font-sans: Libre Baskerville, serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.25rem;
  --shadow-x: 2px;
  --shadow-y: 3px;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: hsl(28 13% 20%);
  --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
  --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
  --shadow-sm:
    2px 3px 5px 0px hsl(28 13% 20% / 0.12),
    2px 1px 2px -1px hsl(28 13% 20% / 0.12);
  --shadow:
    2px 3px 5px 0px hsl(28 13% 20% / 0.12),
    2px 1px 2px -1px hsl(28 13% 20% / 0.12);
  --shadow-md:
    2px 3px 5px 0px hsl(28 13% 20% / 0.12),
    2px 2px 4px -1px hsl(28 13% 20% / 0.12);
  --shadow-lg:
    2px 3px 5px 0px hsl(28 13% 20% / 0.12),
    2px 4px 6px -1px hsl(28 13% 20% / 0.12);
  --shadow-xl:
    2px 3px 5px 0px hsl(28 13% 20% / 0.12),
    2px 8px 10px -1px hsl(28 13% 20% / 0.12);
  --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.3);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(25.7143 13.2075% 10.3922%);
  --foreground: hsl(35 25.5319% 81.5686%);
  --card: hsl(24 14.2857% 13.7255%);
  --card-foreground: hsl(35 25.5319% 81.5686%);
  --popover: hsl(24 14.2857% 13.7255%);
  --popover-foreground: hsl(35 25.5319% 81.5686%);
  --primary: hsl(30 33.871% 48.6275%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(23.0769 13.6842% 18.6275%);
  --secondary-foreground: hsl(35 25.5319% 81.5686%);
  --muted: hsl(24 14.2857% 13.7255%);
  --muted-foreground: hsl(30 12.844% 57.2549%);
  --accent: hsl(28.5714 16.5354% 24.902%);
  --accent-foreground: hsl(35 25.5319% 81.5686%);
  --destructive: hsl(9.6 54.3478% 36.0784%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(23.0769 13.6842% 18.6275%);
  --input: hsl(23.0769 13.6842% 18.6275%);
  --ring: hsl(30 33.871% 48.6275%);
  --chart-1: hsl(30 33.871% 48.6275%);
  --chart-2: hsl(31.3846 29.9539% 42.549%);
  --chart-3: hsl(30 33.6842% 62.7451%);
  --chart-4: hsl(33.6842 32.948% 33.9216%);
  --chart-5: hsl(29.1176 30.9091% 56.8627%);
  --sidebar: hsl(25.7143 13.2075% 10.3922%);
  --sidebar-foreground: hsl(35 25.5319% 81.5686%);
  --sidebar-primary: hsl(30 33.871% 48.6275%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(28.5714 16.5354% 24.902%);
  --sidebar-accent-foreground: hsl(35 25.5319% 81.5686%);
  --sidebar-border: hsl(23.0769 13.6842% 18.6275%);
  --sidebar-ring: hsl(30 33.871% 48.6275%);
  --font-sans: Libre Baskerville, serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm:
    0px 4px 10px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow:
    0px 4px 10px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md:
    0px 4px 10px 0px hsl(0 0% 0% / 0.4), 0px 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg:
    0px 4px 10px 0px hsl(0 0% 0% / 0.4), 0px 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl:
    0px 4px 10px 0px hsl(0 0% 0% / 0.4), 0px 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
