include:
  - path:
      - ./backend/compose.yaml
      - ./backend/compose.dev.yaml

services:
  web:
    build:
      context: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:3333
      - API_URL=http://api:3333
    ports:
      - "3000:3000"
    depends_on:
      api:
        condition: service_healthy
